{%extends "notes/base.html" %}
{% block content %}
<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis">contact me.</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            i'm siddharth.
        </p>
        <div class="d-inline-flex gap-2 mb-5">
            <!-- <a class="btn btn-secondary btn-lg px-4 rounded-pill" href="home.html">get started.</a> -->
        </div>
    </div>
</div>
{% endblock content %}